@mainColor: blue;

@import "pizza/pizza-card";

body{
    display: flex;
    background-color: beige;
}
main{

}
header{
    position: sticky;
}
footer{

}
.main-name{

}
.header-text-container{

}
.button{
    
}
.login-button{
    //@extends .button;
    .button();
}
.pizza-buy-button{
    .button();
}
.cart-buy-button{
    .button();
}
.all-pizza{

}
.quantity{

}
.cart-count-quantity{
    .quantity();
}
.pizza-filter{

}
.pizza-filter-option .active{

}
.pizza-list{

}
.pizza-item{

}
.pizza-variant-container{

}
.pizza-variant{

}
.discount-container{

}

.cart{
    height: 100%;
    width: 300px;
    background-color: cyan;
    position: fixed;
    right: 0px;
    top: 0;
    display: flex;
    flex-direction: column;
    box-shadow: -3px -1px 14px 1px rgba(0, 0, 0, 0.2);
}
.cart-label{

}
.clear-cart-button{
    text-decoration: underline;
    cursor: pointer;
}
.cart-orders-container{

}
.cart-order{

}
.order-controls{

}
.cart-proceed-container{

}

// .p{
//     color: red !important;
// }